.move-back {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #fff;



  &__icon {
    margin-right: 10px;

    &-image {
      color: #313237;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &__paragraph {

    &-text {
      font-family: 'Mont-SemiBold';
      font-size: 12px;
      line-height: 15px;

      color: #89939A;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #313237;
      }
    }
  }
}