@import '../../styles/mixins/mixins.scss';

.sliderText {
  font-family: 'Mont-Black';
  font-size: 48px;
  line-height: 56px;

  white-space: normal;

  margin-bottom: 56px;
  

  @include onTablet {
    line-height: 48px;
    white-space: pre-wrap;
    display: block;

    margin-bottom: 32px;
  }

  @include onPhone {
    font-size: 32px;
    line-height: 41px;
    white-space: pre-wrap;

    margin-bottom: 24px;
  }
}

.sliderContainer {
  max-height: 400px;
  // height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1136px;

  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;

  // @include onTablet {
  //   max-height: 189px;
  //   width: 100%;
  // }

  @include onPhone {
    padding-left: 0;
    padding-right: 0;
  }
}

.sliderBox {

  height: max-content;
  width: 100%;
  object-fit: contain;

  overflow: hidden;

  &__contents {
    display: flex;
    width: 100%;
  
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}

.arrow {
  // height: 100%;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 0.5s;

  // &:hover {
  //   border: 1px solid #313237;
  // }

  @include onPhone {
    display: none;
  }
}

.arrow-left {
  margin-right: 16px;
}

.arrow-right {
  margin-left: 16px;
}

.arrowImg {
  width: 25px;

  @include onTablet {
    width: 15px;
  }
}

.bannerImg {
  height: max-content;
  width: var(--slider-width);
  object-fit: cover;

  // @include onTablet {
  //   height: max-content;
  // }

  // @include onPhone {
  //   height: max-content;
  // }
}

.jumpButtonBox {
  display: flex;
  justify-content: center;
  gap: 14px;

  margin-bottom: 90px;

  @include onTablet {
    margin-bottom: 74px;
  }

  @include onPhone {
    margin-bottom: 68px;
  }
}

.jumpButton {
  width: 14px;
  height: 4px;
  cursor: pointer;
}