@import '../../styles/index.scss';

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    gap: 8px;
  
    &_item {
      display: flex;
      justify-content: center;
      align-items: center;  
    }

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Mont-SemiBold';
      font-size: 14px;
      line-height: 21px;
      
      width: 32px;
      height: 32px;
      background: $pagination-bg;

      color: $text-color;
      border: $pagination-border;
      transition: 0.5s ease-in-out;

      &:hover {
        border: $pagination-border-hover;
        background: $pagination-border-hover-bg;
      }
    }
  }
}

.imageOpacity {
  opacity: .5;
}

.arrowsPagination {
  border: $pagination-arrows-border;
  background: $pagination-arrows-bg;
}

.isSelectedPagination {
  color: $white;
  background: $btn-bg-color;
}

.disabledLink {
  border: $card-border-is-selected;
  background: transparent;

  &:hover {
    border: 1px solid transparent;
  }
}
