@import '../../styles/index.scss';

.menu-cross-image {
  margin: 12px;
  cursor: pointer;
}

.authorization__box {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  padding: 12px;
  border: $card-border;
  background-color: $bg-color;

  &-cross {
    display: flex;
    justify-content: flex-end;
  }
}

.authorization__container {
  width: max-content;
  padding: 0 15px 0 15px;
  background-color: inherit;
}

.form__content {
  display: flex;
  gap: 15px;
  margin-top: 15px;

  font-family: 'Mont-SemiBold';
  src: url('../../utils/fonts/Mont-SemiBold.otf') format('opentype');
  font-style: normal;

  transition: 0.5s;

  &_item {
    position: relative;
    cursor: pointer;
    color: $secondary-color;

    transition: 0.5s;
  }
}

.is-active {
  color: $header-btn-is-active;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: $header-buton-hover;
    border-radius: 8px;
    margin: 0 auto;

    @include onPhone {
      display: block;
      height: 2px;
      margin: 0 auto;
      margin-top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}