@import '../../styles/index.scss';

.customButton {
  font-family: 'Mont-Bold';
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 2px 16px rgba(42, 40, 40, 0.258);
  }
}

.button-capacity {
  font-family: 'Mont-Regular';
  font-size: 14px;
  line-height: 21px;
  padding: 7px 8px 4px;
  border: $capacity-btn-border;
  color: $text-color;
  background-color: $bg-color;

  &--selected {
    color: $bg-color;
    background-color: $header-btn-is-active;
  }
}

.button-add-to-cart {
  font-family: 'Mont-Bold';
  font-size: 14px;
  line-height: 21px;
  height: 48px;

  color: $white;
  background-color: $btn-bg-color;

  transition: box-shadow 0.5s;

  &--selected {
    // border: 1px solid #E2E6E9;
    background-color: $btn-is-added-bg;
    color: $btn-is-added;
    border: $card-border;
  }

  &:hover {
    box-shadow: $card-btn-hover;
  }
}

.button-favorite {
  background-color: $bg-color;
  height: 48px;
  border: $galery-photo-border;
  transition: border-color 0.5s, box-shadow 0.5s;

  &:hover {
    border-color: $header-buton-hover;
  }

  &__image {
    width: 24px;
    height: 24px;
  }
}