@import '../../../styles/index.scss';

.form__container {
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;

  transition: 0.5s border;
}

.signIN-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signIN-button,
.form-field {
  font-family: 'Mont-SemiBold';
  font-weight: 600;
  font-style: normal;

  box-sizing: border-box;
  display: block;

  height: 48px;
  width: 300px;

  @include onPhone {
    width: 100%;
  }

  background-color: $pagination-arrows-bg;
  color: $text-color;

  border: $pagination-arrows-border;
  padding: 14px 16px;

  transition: border 0.5s;

  &::placeholder {
    color: $text-color;
  }

  &:hover {
    border: 1px solid $btn-bg-color;
  }

  &:focus {
    border-color: $btn-bg-color;
    outline: none;
  }

  
}

.signIN-button {
  color: $white;
  background-color: $btn-bg-color;
  border: $header-btn-is-active;
}

.error-border {
  color: $color-red;
}

.error-border {
  color: rgba(255, 0, 0, 0.519);
}
