@import '../../styles/mixins/mixins.scss';

.card {
  width: 272px;
  background: #FFFFFF;
  border: 1px solid #E2E6E9;
  color:black;

  transition: 0.5s;

  @include onTablet {
    width: 229px;
  }

  @include onLowTablet {
    width: 288px;
  }

  @include onPhone {
    width: 287px;
    height: 440px;
  }

  &:hover {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: flex;
    flex-direction: column;

    padding: 32px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 196px;
    margin-bottom: 24px;

    transition: 0.5s;
    object-fit: contain;

    @include onPhone {
      max-height: 130px;
    }

    &_img {
      max-width: 100%;
      height: auto;
      object-fit: contain;

      @include onPhone {
        max-height: 130px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-family: 'Mont-SemiBold';
    font-size: 14px;
    line-height: 21px;

    color: #313237;

    margin-bottom: 8px;
    cursor: pointer;
  }

  &__price {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;

    &_normal {
      font-family: 'Mont-Bold';
      font-size: 22px;
      line-height: 140%;

      color: #313237;
    }

    &_discount {
      font-family: 'Mont-Regular';
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;

      color: #89939A;
    }
  }

  &__divide {
    border: 1px solid #E2E6E9;
    margin-bottom: 16px;
  }

  &__char {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &_name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      font-family: 'Mont-SemiBold';
      font-size: 12px;
      line-height: 15px;

      color: #89939A;
    }

    &_descr {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;

      font-family: 'Mont-SemiBold';
      font-size: 12px;
      line-height: 15px;
      text-align: right;

      color: #313237;
    }
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_button {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 9.5px 39.5px;
      height: 40px;

      font-family: 'Mont-SemiBold';
      font-size: 14px;
      line-height: 21px;
      text-align: center;

      background: #313237;
      color: #FFFFFF;

      border: 1px solid transparent;

      transition: 1s;
      cursor: pointer;

      @include onTablet {
        padding: 9px 18px;
      }

      @include onLowTablet {
        padding: 9.5px 47.5px;
      }

      &:hover {
        box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
      }

      &-isAdded {
        color: #27AE60;
        background: #fff;
        border: 1px solid #E2E6E9;
      }

    }

    &_favorite {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      background-color: #fff;
      border: 1px solid #B4BDC4;
      transition: 0.5s;

      cursor: pointer;

      &:hover {
        border: 1px solid #313237;
      }

      &-isSelected {
        border: 1px solid #E2E6E9;
      }
    }
  }
}
