@import '../../styles/reset.scss';
@import '../../styles/mixins/mixins.scss';
@import '../../styles/pageContainer/pageContainer.scss';
@import '../../styles/normalize.scss';

.catalog {
<<<<<<< HEAD
  margin-bottom: 180px;
=======
  margin-top: 24px;
  margin-bottom: 40px;

  @include onPhone {
    margin-bottom: 24px;
  }
>>>>>>> 2c1182c (added pagination and resolved conflicts in branch)

  &__path {
    margin: 31px 0 40px;
  }

  &__title {
    margin-bottom: 40px;

    &-description {
      font-family: 'Mont-SemiBold';
      font-size: 14px;
      line-height: 21px;

      color: #89939A;
    }
  }

  &__sorts {
    display: flex;
    margin-bottom: 24px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: start;
    justify-items: center;
    gap: 40px 16px;

    @include onTablet {
      @include query(3);
    }

    @include onLowTablet {
      @include query(2);
    }

    @include onPhone {
      @include query(1);
    }
  }

  &__pagination {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onPhone {
      margin-bottom: 64px;
    }
  }
}