* {
  box-sizing: border-box;
}

body {
  font-family: "Mont-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

// body::-webkit-scrollbar {
//   display: none;
// }