@import '../../../styles/index.scss';

.simpleSliderContainer {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onPhone {
    margin-bottom: 57px;
  }
}

// .picturesBan {
//   height: 500px;
// }

.carouselHeader {
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  margin-bottom: 24px;
  
}

.carouselText {
  color: $text-color;
  font-family: 'Mont-Black';
  font-size: 32px;
  line-height: 41px;
}

.buttonBox {
  display: flex;
  align-items: center;
  gap: 16px;

  cursor: pointer;
}

.Button_Errow_img {
  height: 32px;
  width: 32px;
  
  transition: border 0.5s ease-in-out;

  &:hover {
    border: $header-icons-border-hover;
    background: $btn-is-added-bg;
  }
}
