@import '../../styles/index.scss';

.gallery {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;

  @include onTablet {
    gap: 0px;
  }

  @include onPhone {
    display: block;
  }

  @include onPhone {
    margin-bottom: 40px;
  }

  &__sub-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    @include onPhone {
      flex-direction: row;
    }

    @include onPhone {
      justify-content: space-evenly;
      // gap: 12px;
    }

    &-photo {
      display: flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      border: $galery-photo-border;
      opacity: 0.7;
      cursor: pointer;

      @include onLowTablet {
        width: 34px;
        height: 34px;
      }

      @include onPhone {
        width: 50px;
        height: 50px;
      }

      &:hover {
        border-color: $galery-photo-hover;
      }

      &-image {
        width: auto;
        height: 100%;
        padding: 7px;
      }

      &--active {
        border-color: $header-btn-is-active;
        opacity: 1;
      }
    }
  }

  &__main-photo {
    width: 464px;
    height: 464px;
    border-radius: 4px;
    display: flex;
    justify-content: center;

    @include onTablet {
      width: 370px;
    }

    @include onLowTablet {
      width: 287px;
      height: 287px;
    }

    @include onPhone {
      margin: 0 auto 16px;
    }

    &-image {
      width: auto;
      height: 100%;
      padding: 7px;
    }
  }
}