@import '../../styles/mixins/mixins.scss';

.category {
  margin-bottom: 80px;

  @include onPhone {
    margin-bottom: 56.5px;
  }

  @include onTablet {
    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 24px;
    font-family: 'Mont-Black';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: #313237;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include onPhone {
      flex-direction: column;
      gap: 32px;
    }    
  }
}