//bg color
$bg-color: var(--bg-color);
$bg-color-reverse: var(--bg-color-reverse);

//colors
$white: var(--white);


//header
$header-boxoshadow: var(--header-boxoshadow);
$secondary-color: var(--secondary-color);
$header-buton-hover: var(--header-buton-hover);
$header-icons-border: var(--header-icons-border);
$header-icons-border-hover: var(--header-icons-border-hover);
$header-icons-bg-hover: var(--header-icons-bg-hover);
$header-btn-is-active: var(--header-btn-is-active);

$color-red: var(--color-red);
$border-heart: var(--border-heart);
$heart-color-text: var(--heart-color-text);

$primary-color: var(--primary-color);

//card
$card-border: var(--card-border);
$card-hover: var(--card-hover);
$text-color: var(--text-color);
$btn-bg-color: var(--btn-bg-color);
$btn-is-added: var(--btn-is-added);
$btn-is-added-bg: var(--btn-is-added-bg);
$btn-discount: var(--btn-discount);
$card-btn-hover: var(--card-btn-hover);

//favorite
$favorite-bg: var(--favorite-bg);
$card-border-is-selected: var(--card-border-is-selected);
$pagination-bg: var(--pagination-bg);
$pagination-border: var(--pagination-border);
$pagination-border-hover: var(--pagination-border-hover);
$pagination-border-hover-bg: var(--pagination-border-hover-bg);
$pagination-arrows-border: var(--pagination-arrows-border);
$pagination-arrows-bg: var(--pagination-arrows-bg);

$line-color: var(--line-color);

$footer-box-shadow: var(--footer-box-shadow);
$footer-border-color: var(--footer-border-color);
$galery-photo-border: var(--galery-photo-border);
$galery-photo-hover: var(--galery-photo-hover);
$capacity-btn-border: var(--capacity-btn-border);
$colors-phone-border: var(--colors-phone-border);
$colors-phone-border-selected: var(--colors-phone-border-selected);
$colors-phone-border-hover: var(--ccolors-phone-border-hover);