@import '../../styles/mixins/mixins.scss';

.containerHeader {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header {
  box-shadow: 0px 1px 0px #E2E6E9;

  font-family: 'Mont-Bold';
  font-size: 12px;
  line-height: 11px;

  &__nav-links {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 18px;
  }

  &__logo{
    width: 80px;
    height: 27px;

    &-image {
      min-width: 100%;
      height: auto;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin-left: 48px;
    gap: 64px;

    @include onTablet {
        margin-left: 32px;
        gap: 32px;
      }

      @include onPhone {
        display: none;
        pointer-events: none;
      }

    &_link {
      color: #89939A;;
    }

    &_item {
      position: relative;
      height: 64px;
      line-height: 64px;

      letter-spacing: 0.04em;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__right-section {
    display: flex;
    align-items: center;
  }

  &__favorite,
  &__shopping-bag {
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0px 1px #E2E6E9;

    @include onPhone {
      display: none;
      pointer-events: none;
    }

  }

  &__menu-opener {
    display: none;
    pointer-events: none;
  
    @include onPhone {
      display: flex;
      width: 64px;
      height: 64px;
  
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -1px 0px 1px #E2E6E9;
    }
  }
}

.is-active {
  color: #313237;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #313237;
    border-radius: 8px;
  }
}
