@import '../../styles/index.scss';

.message {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;

  // &--onBlur {
  //   filter: blur(15px);
  // }

  @include onPhone {
    margin-top: 100px;
  }

  font-family: 'Mont-SemiBold';
  max-height: 500px;
  max-width: 1000px;
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  &__header {
    color: #27AE60;
    font-size: 200px;
    margin-bottom: 100px;

    @include onPhone {
      font-size: 100px;
      margin-bottom: 50px;
    }
  }

  &__text {
    color: $text-color;
    font-size: 50px;

    @include onPhone {
      font-size: 25px;
    }
  }
}

.message__text{
  text-align: center;
}