@import '../../styles/mixins/mixins.scss';

.error {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;

  font-family: 'Mont-SemiBold';
  max-height: 500px;
  max-width: 500px;
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__code {
    color: #27AE60;
    font-size: 200px;
    margin-bottom: 100px;

    @include onPhone {
      font-size: 100px;
      margin-bottom: 50px;
    }
  }

  &__text {
    color: black;
    font-size: 50px;
    margin-bottom: 50px;
    @include onPhone {
      font-size: 25px;
    }
  }
}
