.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  &__cell {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    justify-content: flex-end;
  }

  &__field {
    font-family: 'Mont-Regular';
    font-size: 14px;
    line-height: 21px;

    color: #89939A;
  }

  &__info {
    font-family: 'Mont-Regular';
    font-size: 14px;
    line-height: 21px;

    color: #313237;
  }
}