@import '../../styles/mixins/mixins.scss';

.info {
  margin-bottom: 80px;

  &__path {
    margin: 31px 0 41px;
  }

  &__back {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 40px;

    &-subtitle {
      font-family: 'Mont-Black';
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;

      color: #313237;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 80px;
  }

  .gallery-block {
    display: flex;
    gap: 75px;

    @include onTablet {
      gap: 25px;
    }

    @include onLowTablet {
      gap: 10px;
    }

    @include onPhone {
      display: block;
    }
  }

  .about-block {
    display: flex;
    gap: 75px;

    @include onTablet {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
  }

  .about-phone {
    width: 560px;

    @include onTablet {
      width: 100%;
    }

    &__title {
      margin-bottom: 24px;
    }
  }

  .article:not(:last-child) {
    margin-bottom: 32px;
  }

  .article {
    margin-bottom: 32px;

    &__text {
      font-family: 'Mont-Regular';
      font-size: 14px;
      line-height: 21px;

      color: #89939A;
    }

    &__title {
      font-family: 'Mont-Bold';
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 16px;

      color: #313237;
    }
  }

  .tech-specs {
    width: 500px;

    @include onTablet {
      width: 100%;
    }

    &__about {
      margin-bottom: 25px;
    }
  }

  .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    &__field {
      font-family: 'Mont-Regular';
      font-size: 14px;
      line-height: 21px;

      color: #89939A;
    }

    &__info {
      font-family: 'Mont-Regular';
      font-size: 14px;
      line-height: 21px;

      color: #313237;
    }
  }

  .available {
    width: 100%;

    &__container {
      display: flex;
      justify-content: space-between;

      @include onTablet {
        display: block;
      }

      &-id {
        flex-shrink: 1;
        font-family: 'Mont-Bold';
        font-size: 12px;
        line-height: 15px;
        text-align: right;

        color: #B4BDC4;

        @include onTablet {
          display: none;
        }
      }
    }

    &__colors {
      flex-basis: 350px;
      flex-shrink: 0;
    }

    &__capacity {
      margin-bottom: 32px;
    }

    &__price {
      margin-bottom: 16px;
    }

    &__buttons {
      margin-bottom: 32px;
    }


    .colors {
      margin-bottom: 24px;

      &::after {
        display: block;
        content: '';
        width: 100%;
        border: 1px solid #E2E6E9;
        margin-top: 24px;
      }

      &__texts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        &-text {
          font-family: 'Mont-SemiBold';
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 8px;

          color: #89939A;
        }

        &-id {
          visibility: hidden;
          font-family: 'Mont-Bold';
          font-size: 12px;
          line-height: 15px;

          color: #B4BDC4;

          @include onTablet {
            visibility: visible;
          }
        }
      }


      &__container {
        display: flex;
        gap: 8px;
      }

      &__item {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #E2E6E9;
        padding: 2px;
        cursor: pointer;
        transition: box-shadow 0.5s, border 0.5s;

        &--selected {
          border-color: #313237;
        }


        &:hover {
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
          border-color: #B4BDC4;
        }

        &-color {
          width: 100%;
          height: 100%;
          border-radius: 50%;


        }
      }
    }

    .capacity {
      margin-bottom: 24px;

      &::after {
        display: block;
        content: '';
        width: 100%;
        border: 1px solid #E2E6E9;
        margin-top: 24px;
      }

      &__text {
        font-family: 'Mont-SemiBold';
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 8px;

        color: #89939A;
      }

      &__items {
        display: flex;
        gap: 8px;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 8px;

      &__normal {
        font-family: 'Mont-Black';
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.01em;

        color: #313237;
      }

      &__discount {
        font-family: 'Mont-Regular';
        font-size: 22px;
        line-height: 28px;
        text-decoration-line: line-through;

        color: #89939A;
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: 1fr 48px;
      grid-gap: 8px;
    }

    .abrevspecs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;

      &__field {
        font-family: 'Mont-Regular';
        font-size: 12px;
        line-height: 15px;

        color: #89939A;
      }

      &__info {
        font-family: 'Mont-Regular';
        font-size: 14px;
        line-height: 21px;

        color: #313237;
      }
    }
  }
}