.main {
  background-color: #000;

  display: flex;
  flex: 1 1 auto;
  
  max-width: 1120px;
  min-height: 100vh;

  margin: 0 auto;
}

@media (max-width: 600px) {
  .main {
    background-color: lightblue;
  }
}